#one{
    color: red;
}
#two {
    color: orange;
}
#three {
    color: yellow;
}
#four {
    color: green;
}
#five {
    color: blue;
}
#six {
    color: purple;
}
#seven {
    color: pink;
}
#eight {
    color: white;
}
#nine {
    color: gray;
}