#one{
    color: red;
}
#two {
    color: orange;
}
#three {
    color: yellow;
}
#four {
    color: green;
}
#five {
    color: blue;
}
#six {
    color: purple;
}
#seven {
    color: rgb(253, 145, 253);
}
#eight {
    color: white;
}
#nine {
    color: rgb(207, 206, 206);
}
* {
    display: inline;
    font-size: 55px;
    margin-top: 12px;

}
#this {
    background-color: pink;
    border-style: solid;
    border-color: blue;
    border-width: 5px;
}
#that {
    background-color: black;
    border-style: solid;
    border-color: rgb(2, 124, 2);
    border-width: 5px;
}