#header {
    font-size: 90px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
#left {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    width: 25%;
    font-size: 30px;
    padding-left: 15px;
}
#middle {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    width: 40%;
    font-size: 30px;
    padding-left: 15px;
}
#right {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    width: 25%;
    font-size: 30px;
    padding-left: 15px;
}
div {
    display: inline-block;
    font-size: 25px;
    background-color: rgb(233, 233, 233);
    vertical-align: top;
    margin: 20px;
    margin-top: -30px;
}
p {
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "monaco", "snas-serif";
}

