p {
    display: inline;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 40px;
}
#one, #two, #three {
    height: 32px;
    display: inline;
    margin-left: 40px;
}

#topbar {
    text-align: center;
}
#top {
    background-color: rgb(233, 231, 231);
    height: 100px
}
#phones, #names {
    text-align: center;
}
#undiph {
    margin-top: -20px;
}
#pro {
    margin-left: -450px;
}
#first {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#second, #third {
    display: inline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#third {
    color: rgb(0, 153, 255);
}

* {
    text-align: center;
    font-weight: lighter;
}
#bottom {
    background-color: rgb(233, 231, 231);
}
#new {
    color: orange;
}
#end {
    background-color: black;
    height: 700px;
}
#five {
    color: blanchedalmond;
}
#price {
    color: white;
}
#last, #buy {
    color: rgb(0, 153, 255);
}