p {
    display: inline;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 40px;
}
* {
    text-align: center;
    font-weight: lighter;
}
#topbar {
    text-align: center;
    background-color: rgb(236, 235, 235);
    margin-left: -8px;
    margin-right: -9px;
    margin-top: -8px;
    height: 100px
}
.start {
    padding-top: 25px;
    background-color: rgb(236, 235, 235);
}
#one, #two, #three {
    height: 32px;
    display: inline;
    margin-left: 40px;
}
#phones, #names {
    text-align: center;
}
#undiph {
    margin-top: 200px;
}
#pro {
    margin-left: -450px;
}
#text {
    background-color: rgb(236, 235, 235);
    height: 215px;
    margin-left: -8px;
    margin-right: -9px;
}
.letter {
    padding-top: 30px;
    background-color: rgb(236, 235, 235);
}
#first {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#second, #third {
    display: inline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#third {
    color: rgb(0, 153, 255);
}
#end {
    background-color: black;
    height: 700px;
    margin-top: -1px;
    margin-left: -8px;
    margin-right: -9px;
}
.final {
    padding-top: 100px;
}
#new {
    color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#five {
    color: blanchedalmond;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#price {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#last, #buy {
    color: rgb(0, 153, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

