p {
    display: inline;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 40px;
}
#one, #two, #three {
    height: 32px;
    display: inline;
    margin-left: 40px;
}

#topbar {
    text-align: center;
}
#top {
    background-color: rgb(233, 231, 231);
    height: 100px
}
#phones, #names {
    text-align: center;
}
#undiph {
    margin-top: -40px;
}
#pro {
    margin-left: -450px;
}

